.grid{
    width: 500px;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 125px;
    height: 125px;
    background-color: rgb(87, 184, 223);
    text-align: center;
    font-size: 30px;
}
